In [2]:
a = ['a', 'b', 'c', 'd']
for s in a:
    print ("this is", s.title())

this is A
this is B
this is C
this is D

In [5]:
a[2]

'c'

In [6]:
a[-1]

'd'

In [14]:
for index, s in enumerate(a):
    print ("Это значение:", index+1,":" , s)

Это значение: 1 : a
Это значение: 2 : b
Это значение: 3 : c
Это значение: 4 : d

In [4]:
d = enumerate(a)
d

In [15]:
a[1]

'b'

In [18]:
a.index('a')

0

In [5]:
a.index('s')

ValueError: 's' is not in list

In [20]:
print ('b' in a)

True

In [22]:
print('k' in a)

False

In [23]:
a.append('f')

In [24]:
a

['a', 'b', 'c', 'd', 'f']

In [25]:
a.index('f')

4

In [27]:
a.insert(3, 'n')

In [28]:
a

['a', 'b', 'c', 'n', 'd', 'f']

In [35]:
usernames = []
usernames.append('Ivan')
usernames.append('Stas')
usernames.append('Gogi')

for index, s in enumerate(usernames):
    print ("Hi", s.title(), "!")
    print (index)

Hi Ivan !
0
Hi Stas !
1
Hi Gogi !
2

In [37]:
usernames.sort()
for index, s in enumerate(usernames):
    print ("Hi", s.title(), "!")
    print (index)

Hi Gogi !
0
Hi Ivan !
1
Hi Stas !
2

In [38]:
usernames

['Gogi', 'Ivan', 'Stas']

In [40]:
usernames.sort(reverse = True)
usernames

['Stas', 'Ivan', 'Gogi']

In [41]:
students = ['Aaror', 'Michael', 'Jeorge']
for i in sorted(students):
    print(i)

Aaror
Jeorge
Michael

In [42]:
students

['Aaror', 'Michael', 'Jeorge']

In [43]:
students.reverse()

In [44]:
students

['Jeorge', 'Michael', 'Aaror']

In [45]:
numbers = [1,4,5,2,3,5,2,4]
numbers.sort()
numbers

[1, 2, 2, 3, 4, 4, 5, 5]

In [47]:
d = sorted(numbers)

In [48]:
d

[1, 2, 2, 3, 4, 4, 5, 5]

In [49]:
numbers

[1, 2, 2, 3, 4, 4, 5, 5]

In [59]:
names = []
names.append('Aaron')
names.append('Mercury')
names.append('Michael')
names

['Aaron', 'Mercury', 'Michael']

In [60]:
len(names)

3

In [61]:
del names[1]
names

['Aaron', 'Michael']

In [62]:
names.remove('Aaron')

In [63]:
names

['Michael']

In [64]:
teams = ['Barcelona', 'Real', 'Dynamo']
last_team = teams.pop()
last_team

'Dynamo'

In [67]:
first_team = teams.pop(0)
first_team

'Real'

In [ ]:
# Срез списка

In [10]:
usernames = ['ivan', 'sasha', 'gogi', 'michael', 'james']
users = usernames[0:2]
for index, name in enumerate(usernames[0:2]):
    print (index, " = ", name)

0  =  ivan
1  =  sasha

In [12]:
users_1 = usernames[1:4]
users_1

['sasha', 'gogi', 'michael']

In [13]:
users_2 = usernames[2:]
users_2

['gogi', 'michael', 'james']

In [14]:
users_3 = usernames[0,1,3]
users_3

TypeError: list indices must be integers or slices, not tuple

In [ ]:
# Копирования списка

In [18]:
uses_4 = usernames[:]
uses_4

['ivan', 'sasha', 'gogi', 'michael', 'james']

In [21]:
a = range(1,5)
a

range(1, 5)

In [22]:
a = list(range(1,5))
a

[1, 2, 3, 4]

In [ ]:
# Сокращенные нотации списков

In [27]:
for i in range (1,11):
    print("square ",i ,"= ", i**2)

square  1 =  1
square  2 =  4
square  3 =  9
square  4 =  16
square  5 =  25
square  6 =  36
square  7 =  49
square  8 =  64
square  9 =  81
square  10 =  100

In [30]:
squares = [i**2 for i in range(1,11)]
for i in squares:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [33]:
message = 'Hello world'
for letter in message:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [34]:
message = 'Hello world'
message_list = list(message)
print(message_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [37]:
message = 'I like cats, dogs, cats'
cat= 'cat' in message
print(cat)

True

In [38]:
cat_id = message.find('cat')
cat_id

7

In [39]:
cat_id = message.rfind('cat')
cat_id

19

In [40]:
message = message.replace('dogs', 'wolves')
message

'I like cats, wolves, cats'

In [41]:
number_cats = message.count('cats')
number_cats

2

In [45]:
message = 'I like cats, dogs, cats'
message = message.split(' ')
message

['I', 'like', 'cats,', 'dogs,', 'cats']

In [47]:
message = str(message.split(','))
message

AttributeError: 'list' object has no attribute 'split'

# Кортежы - это неизменяемые списки

In [52]:
colors = ('green', 'red', 'black', 'yellow', 'purple')
print(colors[1:])

('red', 'black', 'yellow', 'purple')

In [55]:
x = int(input("Введите значение деления"))
print("First colors= ", colors[0:x])
print("Second colors= ", colors[x:])

Введите значение деления1
First colors=  ('green',)
Second colors=  ('red', 'black', 'yellow', 'purple')

In [ ]:
# Форматироване строк с помощью кортежей

In [60]:
cars = ['mercedes', 'bmw', 'lamborghini']
for i in cars:
    print ("This is %s" % i)

This is mercedes
This is bmw
This is lamborghini

In [59]:
animals = ['dog', 'cat', 'bear']
for animal in animals:
    print("I have a %s." % animal)

I have a dog.
I have a cat.
I have a bear.

In [62]:
animals = ['dog', 'cat', 'bear']
print("I have a %s, %s and a %s" % (animals[0], animals[1], animals[2]))

I have a dog, cat and a bear

In [64]:
animals = ['dog', 'cat', 'bear']
print("I have a {0}, a {1} and a {2}".format(animals[0], animals[1], animals[2]))

I have a dog, a cat and a bear

In [65]:
dict = {'item_1': 'Ivan',
       'item_2': 'Igor',
        'item_3': 'Slavik'
       }
dict['item_1']

'Ivan'

In [68]:
for index, s in dict.items():
    print(index, s)

item_1 Ivan
item_2 Igor
item_3 Slavik

In [76]:
for index, k in dict.items():
    print ('index = %s for' %index, "if %s" %k)

index = item_1 for if Ivan
index = item_2 for if Igor
index = item_3 for if Slavik

In [77]:
dict.items()

dict_items([('item_1', 'Ivan'), ('item_2', 'Igor'), ('item_3', 'Slavik')])

In [78]:
dict['item_4'] = 'Gogi'

In [79]:
dict

{'item_1': 'Ivan', 'item_2': 'Igor', 'item_3': 'Slavik', 'item_4': 'Gogi'}

In [80]:
dict['item_4'] = 'Michail'
dict

{'item_1': 'Ivan', 'item_2': 'Igor', 'item_3': 'Slavik', 'item_4': 'Michail'}

In [81]:
del dict['item_4']
dict

{'item_1': 'Ivan', 'item_2': 'Igor', 'item_3': 'Slavik'}

In [ ]:
# Замена ключа

In [89]:
dict['iitem_5'] = 'Roman'
dict

{'item_1': 'Ivan',
 'item_2': 'Igor',
 'item_3': 'Slavik',
 'item_5': 'Roman',
 'iitem_5': 'Roman'}

In [90]:
dict['item_5'] = dict['iitem_5']
dict

{'item_1': 'Ivan',
 'item_2': 'Igor',
 'item_3': 'Slavik',
 'item_5': 'Roman',
 'iitem_5': 'Roman'}

In [91]:
del dict['iitem_5']
dict

{'item_1': 'Ivan', 'item_2': 'Igor', 'item_3': 'Slavik', 'item_5': 'Roman'}

In [92]:
for key in dict.keys():
    print(key)

item_1
item_2
item_3
item_5

In [93]:
for key in dict:
    print(key)

item_1
item_2
item_3
item_5

In [ ]:
# Вывод значения по введенному ключу с класиатуры

In [1]:
dict_1 = {
    '1': 'Ivan',
    '2': 'Slavik',
    '3': 'Mykola',
    '4': 'Roman',  
}

In [2]:
dict_1['1']

'Ivan'

In [38]:
dict_1.values()

dict_values(['Ivan', 'Slavik', 'Mykola', 'Roman'])

In [37]:
x = input("Введите ключ ")
for index, value in dict_1.keys():
    if x == i:
        print(dict_1[x])

Введите ключ 3

ValueError: not enough values to unpack (expected 2, got 1)

In [11]:
import collections as col

In [17]:
dict_2 = col.OrderedDict(sorted(dict_1.items(), key = lambda t: t[1]))

In [18]:
dict_2

OrderedDict([('1', 'Ivan'), ('3', 'Mykola'), ('4', 'Roman'), ('2', 'Slavik')])

In [ ]:
# Nestling - концепция вложенности

In [20]:
num = {
    'eric': [1,2,5,2,14],
    'michael': [4,3,2,4],
    'George': [34,12,41,23,4]    
}
print(num['michael'])

[4, 3, 2, 4]

In [30]:
for name in num:
    print("%s numbers" %name, "are %s" %num[name])

eric numbers are [1, 2, 5, 2, 14]
michael numbers are [4, 3, 2, 4]
George numbers are [34, 12, 41, 23, 4]

In [33]:
dogs = {
    'maica': {'height': '123', 'weight': '34'},
    'gor': {'height': '23', 'weight': '3'},
    'max': {'height': '1231', 'weight': '342'}
}

In [34]:
s = dogs['maica']['height']
s

'123'

In [40]:
favorite_numbers = {'eric': [3, 11, 19, 23, 42],
                    'ever': [2, 4, 5],
                    'willie': [5, 35, 120],
                    }

In [44]:
for name in favorite_numbers:
    print(name)
    figure = favorite_numbers[name]
    for i in favorite_numbers[name]:
        print(i)

eric
3
11
19
23
42
ever
2
4
5
willie
5
35
120

In [46]:
pets = {'willie': {'kind': 'dog', 'owner': 'eric', 'vaccinated': True},
        'walter': {'kind': 'cockroach', 'owner': 'eric', 'vaccinated': False},
        'peso': {'kind': 'dog', 'owner': 'chloe', 'vaccinated': True},
        }

In [60]:
for nam, char in pets.items():
    print(nam)
            for i in char:
            print (i)

IndentationError: unexpected indent (<ipython-input-60-4b6906d7ba2c>, line 3)

In [ ]:
# Считывания данных с файла

In [1]:
file = open('credit_sample-Copy1.txt', 'r')
print(file.readline())

lastname,age,debt,occupation

In [78]:
for line in file:
    print(line)

Adrianov,25,30000,artist

Belkin,42,4000,programmer

Koltunov,32,100,sportsman

Loptev,25,30000,artist

Bobrov,42,4000,programmer

Karelin,32,100,sportsman

In [81]:
for line in file:
    line = line.strip().split(",")
    print(line)

['Adrianov', '25', '30000', 'artist']
['Belkin', '42', '4000', 'programmer']
['Koltunov', '32', '100', 'sportsman']
['Loptev', '25', '30000', 'artist']
['Bobrov', '42', '4000', 'programmer']
['Karelin', '32', '100', 'sportsman']

In [ ]:
# Создаем словарь на основании данных из файла

In [3]:
credit_dict = {}
for line in file:
    name, age, number, vacancy = line.strip().split(",")
    credit_dict[name] = (age, number, vacancy)
print(credit_dict)

{'Adrianov': ('25', '30000', 'artist'), 'Belkin': ('42', '4000', 'programmer'), 'Koltunov': ('32', '100', 'sportsman'), 'Loptev': ('25', '30000', 'artist'), 'Bobrov': ('42', '4000', 'programmer'), 'Karelin': ('32', '100', 'sportsman')}

In [4]:
line = ''
while (line != 'quit'):
    line = input("Введи новое значение").strip()
    if line == 'quit':
        break
    else:
        name, age, number, vacancy = line.strip().split(",")
        credit_dict[name] = (age, number, vacancy)
print(credit_dict)

Введи новое значениеSanya, 34, 34, as
Введи новое значениеquit
{'Adrianov': ('25', '30000', 'artist'), 'Belkin': ('42', '4000', 'programmer'), 'Koltunov': ('32', '100', 'sportsman'), 'Loptev': ('25', '30000', 'artist'), 'Bobrov': ('42', '4000', 'programmer'), 'Karelin': ('32', '100', 'sportsman'), 'Sanya': (' 34', ' 34', ' as')}

In [ ]:
# Множества - это элементы в случайном парядке, которые не могут повторяться

In [5]:
a = {1,3,45}
a

{1, 3, 45}

In [6]:
b = ([1,4,5])
b

[1, 4, 5]

In [8]:
a = {i**2 for i in range(1,5)}
a

{1, 4, 9, 16}

In [9]:
len(a)

4

In [12]:
{1,5,4,31}.issubset({1,4,5,54,23,31})

True

In [18]:
b = {34,23,12,1}

In [19]:
a.union(b)

{1, 4, 9, 12, 16, 23, 34}

In [20]:
a.intersection(b)

{1}

In [21]:
a.difference(b)

{4, 9, 16}

In [23]:
{1,3,4,5,6}.symmetric_difference({1,2,3,4,5,6,})

{2}

In [26]:
b = a.add(6)
b

In [28]:
c = {1,2,3,4,5,6}.remove(3)
c

In [29]:
{1,2,3,4,5}.intersection({1,2,3,4,5,6,7,8,})

{1, 2, 3, 4, 5}

In [30]:
s = {1,2,3,4,5,6,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [31]:
s.add(8)

In [32]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Frozenset - такое же множество, но неизменяемое

In [34]:
man_fans = set(['Alex', 'Harry'])
detroit_fans = frozenset(['Gogi', 'Michael'])

In [35]:
detroit_fans.add('Bill')

AttributeError: 'frozenset' object has no attribute 'add'

# ДЗ

In [ ]:
# Даны два списка чисел, которые могут содержать до 100000 чисел каждый. 
# Посчитайте, сколько чисел содержится одновременно как в первом списке, так и во втором.
# Примечание. Эту задачу на Питоне можно решить в одну строчку.

In [36]:
a = range(100)
b = range(65,165)
print(len(set(a).intersection(set(b))))

35

In [ ]:
# Во входном файле (вы можете читать данные из файла input.txt) записан текст. 
# Словом считается последовательность непробельных символов идущих подряд, слова разделены 
# запятой или символами конца строки.
# Определите, сколько различных слов содержится в этом тексте.

In [47]:
input_file = open("credit_sample-Copy1.txt", 'r')
word_count = {}
for line in input_file:
    words = line.strip().split(',')
    for word in words:
        if word in word_count:
            word_count[word]+=1
        else: 
            word_count[word]=1
print(word_count)
print(len(word_count))

{'lastname': 1, 'age': 1, 'debt': 1, 'occupation': 1, 'Adrianov': 1, '25': 2, '30000': 2, 'artist': 2, 'Belkin': 1, '42': 2, '4000': 2, 'programmer': 2, 'Koltunov': 1, '32': 2, '100': 2, 'sportsman': 2, 'Loptev': 1, 'Bobrov': 1, 'Karelin': 1}
19

In [ ]:
# Выведите все элементы списка с четными индексами (то есть A[0], A[2], A[4], ...).

In [60]:
num = range(1,20,2)
for n in num:
    print(n)

1
3
5
7
9
11
13
15
17
19

In [158]:
a_list = [int(x) for x in input().split()]
print(*a_list[::2], sep = ' ')

1 2 3 4 5 6 7
1 3 5 7

In [66]:
for index, number in enumerate(num):
    if index%2 == 0:
        print(index, number)

0 1
2 5
4 9
6 13
8 17

In [ ]:
# Дана строка, состоящая из слов, разделенных пробелами. 
# Определите, сколько в ней слов. Используйте для решения задачи метод count.

In [80]:
message = "I like cats and dogs, but I'd much rather own a dog."
numbers = message.split(' ')
s = 0
for n in numbers:
    s = s+1
print(s)

12

In [160]:
s = input()
print(s.strip().count(' ')+1)

I like cats and dogs, but I'd much rather own a dog
12

In [83]:
open_file = open('test_doc.txt', 'r')
s = open_file.readline()
print(s)
n=0
for n in s:
    n = n+1
print(n)

Gogi Magi Gori Max Michael Stas Igor

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Дана строка, состоящая ровно из двух слов, разделенных пробелом. Переставьте эти слова местами. Результат запишите в строку и выведите получившуюся строку.
# При решении этой задачи нельзя пользоваться циклами и инструкцией if.

In [94]:
line = "Ivan Gori"
line_new = line.split()
n_1 = line_new[0]
n_2 = line_new[1]
line_finish = []
line_finish.append(n_2)
line_finish.append(n_1)
line_finish

['Gori', 'Ivan']

In [164]:
s = input().split(' ')
s[0], s[1] = s[1], s[0]
print(*s)

erwert wer
wer erwert

In [ ]:
# Дана строка, в которой буква h встречается минимум два раза. 
# Удалите из этой строки первое и последнее вхождение буквы h, а также все символы, находящиеся между ними.

In [165]:
s = input()
print(s[0:s.index('h')] + s[s.rindex('h'):])

asdf has hasd asd fhsdf
asdf hsdf

In [ ]:
# Переставьте соседние элементы списка (A[0] c A[1], A[2] c A[3] и т.д.). 
# Если элементов нечетное число, то последний элемент остается на своем месте.

In [4]:
st = [int(x) for x in input().split(' ')]
for i in range(0, len(st)-1, 2):
    st[i], st[i+1] = st[i+1], st[i]
print(*st)

23 234 234 234 1
234 23 234 234 1

In [ ]:
#Дана строка, в которой буква h встречается как минимум два раза. 
# Разверните последовательность символов, заключенную между первым и последнием появлением буквы h, 
# в противоположном порядке.

In [5]:
n = input()
q = n[n.index('h'):n.rindex('h'):-1]
print(*q)

sdfhsdf hsdf

In [7]:
s = input()
f,l = s.index('h')+1, s.rindex('h')
print(s[:f] + s[f:l][::-1] + s[l:])

sdfhsdfhsdf
sdfhfdshsdf

In [ ]:
# Дана строка. Получите новую строку, вставив между двумя символами исходной строки символ *. 
# Выведите полученную строку.

In [16]:
seq = ('a', 'b', 'c', 'd')
s = '*'
print(s.join(seq))

a*b*c*d

In [15]:
s = input()
for i in s:
    ''.join([i+ '*'][:-1])
print(s)

asdf
asdf

In [14]:
s = input()
print(''.join([c+ '*' for c in s])[:-1])

asdf
a*s*d*f

In [12]:
s = input()
for i in s:
    i = i + '*'
    print(i)

sadg
s*
a*
d*
g*